@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&family=Raleway:wght@400;500;600&display=swap');




::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5c5c5cb9;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}



* {
  font-family: Montserrat;
  
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
 
}

.columns {
  height: 100vh;
  width: 100vw; 
  display: flex;
  border: 5px black;
}

.left-menu {
  background-color: white;
  width: 230px;
  display: flex;
  flex-direction: column;
  border-right: 1px ridge rgb(0, 0, 0);
  
}



.app-logo {
  font-size: 35px;
  margin-left: 25px;
  font-weight: 700;
  margin-right: auto;
}

.menu-item {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 18px;
  height: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 20px;
  color:rgb(118, 118, 118);
  transition: color .3s;

  
}

.button {
  
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}


.menu-item:hover {
  color: black;
}

.content {
  background: white;
  flex: 1;
  overflow: auto;
  flex-wrap: wrap;
  
}

.content-header {
  background: rgb(255, 255, 255);
  height:fit-content;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items:center;
  justify-content: center;

}

.login-button {
  border: none;
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  color: white;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.login-button:hover {
  transform: scale(1.03) perspective(1px)
}

.profile-contents {
  
  display: flex;
  border-bottom: gray solid 1px;
  border-image: linear-gradient(20deg, rgba(94, 94, 94, 0), rgb(0, 0, 0)) 1;
  max-height: 200px;
  animation: fadeInAnimation ease .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-bottom: 30px;
}
.profile-photo {
    background: rgb(70, 70, 70);
    min-width: 200px;
    height: 200px;
    border-radius: 1000px;
    margin-left: 20px;
}


.profile-contents-inner-wrapper {
  margin-left: 60px;
}


.profile-name {
  font-weight: 600;
}

.profile-bio {
  margin-top: 10px;
  max-width: 500px;
  min-width: 300px;
  font-size: 20px;
  text-align:justify;
  
}

.profile-posts {

}

.not-logged-in-container {
  display: flex;
  max-width: 600px;
  flex-wrap:wrap;

  font-weight: 800;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))

}

.not-logged-in-content {
  padding-left: 40px;
  padding-top: 40px;
  opacity: 0;
  display: flex;
  font-weight: 100;
  font-size: 40px;
  margin: 0px;

    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.media-player {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.media-player-header {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(62, 62, 62);
  font-size: 20px;
}

.not-logged-in-sidebar {
    font-weight: 800;
    max-width: 100px;
}

.page-not-found {

}

.page-not-found-container {
  
}

.profile-photo-header {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: gray;
 
}

.profile-name-header {
  font-weight: 700;
  margin-right: 20px;

}

.user-posts-container {
  margin-top: 40px;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 25px;
  padding:30px;
  animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-bottom: 100px;
  
}

.user-post-container {
  height: 220px;
  width: 220px;
  position: relative;


  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: scale ease 1s;
  animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    justify-content: center;
  
  
  
}

.user-post-container:hover {
  transform: scale(1.01) perspective(1px);
  
}

.user-post-image {
  width: 100%;
  height: 100%;
  
}

.user-post-overlay {
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.621);
  transition: opacity ease-in .09s;

  
}

.user-post-overlay:hover {
  opacity: 1;
  
}

.pause-play {
  position: absolute;
  left:80px;
  right: 80px;
  top: 70px;
  bottom: 75px;
}

.pause-play:hover {
  transform: scale(1.1) perspective(1px);
 
}

.img:hover {
  -webkit-filter: hue-rotate(240deg) saturate(3.3) grayscale(50%);
  /* FF 35+ */
  filter: hue-rotate(240deg) saturate(3.3) grayscale(50%);
}

.arrow:hover {
  transform: scale(1.2) perspective(1px)
}


.arrow-container {
  position: absolute;
  font-weight: 800;
}
.arrow-options1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 25px;
  width:100px;
  position: absolute;
  margin-top: 7px;
  background-color: white;
  font-weight: 400;
  
  border-left: 1px solid rgb(178, 178, 178);
  border-right: 1px solid rgb(178, 178, 178);
  z-index: 10;
  
}
.arrow-options2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgb(178, 178, 178);
  border-right: 1px solid rgb(178, 178, 178);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  height: 25px;
  width:100px;
  position: absolute;
  margin-top:42px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
 
}

.arrow-options1:hover {
  background-color: rgb(218, 218, 218);
  
  
}

.arrow-options2:hover {
  background-color: rgb(192, 192, 192);
  
}

.like {
  margin-top: 10px;
  
}

.like:hover {
  color: rgb(66, 66, 66);
}