

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }

  

.searchbar-container {
    margin-left: 20px;
    height: 20px;
    border-radius: 40px;
    padding: 20px;
    width: 60%;
    outline: none;
    border: none;
    animation: fadeInAnimation ease .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

